rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isBrad() {
      return request.auth != null && request.auth.uid == "FqDrn1aPFHXUB5ogb2rN9D7mRG42";
    }

    match /customers/{customerId} {
      allow read, write: if isBrad();
    }

    match /jobs/{jobId} {
      allow read, write: if isBrad();
    }

    match /settings/{settingId} {
      allow read, write: if isBrad();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
